@model List<onering.Models.PortletInstance>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack-extra.css" />
<link  rel="stylesheet" href="~/css/home.css" />


<div id="portlet-grid" >
    <div class="grid-stack">
    @if (Model.Count < 1) {
        <div id="abs-center">
            <h2>No portlets have been added yet.</h2>
            <h2>Add your own through the &quot;Add Portlet&quot; menu (&#x22EE;)</h2>
        </div>
    } else {
        @foreach (PortletInstance inst in Model) {
            <div class="grid-stack-item"
                data-gs-id="@inst.ID"
                data-gs-x="@inst.XPos" data-gs-y="@inst.YPos"
                data-gs-width="@inst.Width" data-gs-height="@inst.Height"
                data-gs-min-width="2" data-gs-min-height="3">
                <div class="grid-stack-item-content clearfix">
                    <div class="portlet-heading clearfix">
                        <div class="dropdown">
                            <a class="dropdown-toggle portlet-menu-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-option-vertical portlet-menu-icon" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu portlet-menu">
                                <li><a href="#" onclick="deletePortlet_OnClick(@(inst.ID))">Delete</a></li>
                                @*<li><a href="#">item2</a></li>
                                <li><a href="#">item3</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <iframe src="@(inst.Portlet.Path + "/?id=" + inst.ID)" frameborder="1" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        }
    }
    </div>
</div>

<script data-main="js/home" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.js"></script>

<!-- <pre>
    @ViewData["Configvals"]
    @Model
</pre> -->

