@model List<onering.Models.ToDoItemView>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/portlet/todo.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/portlet/todo.css" />
</head>


<body>
    <p id="todo_table_title">Todo List</p>
    <div>
        <table id="todo_table">
            <thead id="todo_thead">
                <tr>
                    <th></th>
                    <th><a class="col-header unselectable" onclick="sortTable('todo-title', this)">Name<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></th>
                    <th><a class="col-header unselectable" onclick="sortTable('todo-date', this)">Due<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></th>
                </tr>
            </thead>
            <tbody id="todo_tbody">
                @foreach (var todo in Model)
                {
                    <tr userid="@todo.UserID" sourceid="@todo.SourceID" itemid="@todo.ID">
                        <td class="todo-nav">
                            <input class="todo-nav-img" type="image" src="~/images/portlet/todo/navigate.png" onclick="todoItemNav_onclick('@todo.Link')" />
                        </td>
                        <td class="todo-title" data-content="@todo.Title">@todo.Title</td>
                        <td class="todo-date" data-content="@todo.DueDate">@todo.DueDate.ToString("MM-dd-yy h:mm tt")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>
