@model List<onering.Models.ToDoItemView>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/portlet/todo.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/portlet/todo.css" />
</head>


<body>
    <p class="todo-header">Todo List</p>

    <table class="todo-table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Due</th>
        </tr>
        @foreach (var todo in Model) {
            <tr userid="@todo.UserID" sourceid="@todo.SourceID" itemid="@todo.ID" link="@todo.Link">
                <td>
                    <input class="todo-nav-img" type="image" src="~/images/portlet/todo/navigate.png"/>
                </td>
                <td>@todo.Title</td>
                <td>@todo.DueDate.ToString("MM-dd-yy h:mm tt")</td>
            </tr>
        }
    </table>
</body>

</html>
