@model List<onering.Models.ToDoItemView>
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/portlet/todo.js" asp-append-version="true"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/portlet/todo.css" />
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
</head>


<body style="padding-top: 0px;">
    <h2>Todo List</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Due Date</th>
        </tr>
        @foreach (var todo in Model) {
            <tr userid="@todo.UserID" sourceid="@todo.SourceID" itemid="@todo.ID">
                <td><a href="@todo.Link">@todo.Title</a></td>
                <td>@todo.DueDate</td>
                <td>
                    <button>Mark as Done</button>
                </td>
            </tr>
        }
    </table>
</body>

</html>
